$primary--light: #ecee9d;
$primary--default: #dadd3e;
$primary--deep: #868918;
$primary--dark: #53550f;

$secondary--100: #dad2f4;
$secondary--200: #ab99e6;
$secondary--300: #8063d9;
$secondary--100: #5631c9;

$gray--white: #eeeff1;
$gray--300: #eeeff1;
$gray--400: #caccd2;
$gray--500: #a6aab4;
$gray--600: #6f7585;
$gray--700: #545963;
$gray--800: #36393f;
$gray--900: #1f1f1f;
$gray--black: #000000;

$status--r: #dd3e3e;
$status--g: #aadd3e;
$status--b: #3e61dd;
$status--o: #dd8a3e;
